$text-color: #fff;
$text-hover: #999;
$secondary-color: #444;
$background-color: #333;
$error-color: red;
$success-color: green;


@import 'helpers/normalize';
@import 'helpers/mixins';
@import url('https://fonts.googleapis.com/css?family=Cabin');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    height: 100%;
    font-family: 'Cabin', Arial, sans-serif;
    @include font-size(16px);
    color: $text-color;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    @include background($background-color);
}

img {
    object-fit: cover;
    max-width: 100%;
    display: block;
}

a,
a:focus {
    color: $text-color;
}
a:hover {
    color: $text-hover;
}

input:focus:invalid {
    border-bottom: 2px solid $error-color;
}

input:focus:valid {
    border-bottom: 2px solid $success-color;
}

::-webkit-input-placeholder {
    color: $text-color !important;
}

.show {
    visibility: visible;
    opacity: 1;
    @include transition(opacity 0.2s linear);
}

.hide {
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 0s 0.1s,
    opacity 0.1s linear);
}