$text-color: #fff;
$text-hover: #999;
$background-color: #333;
$secondary-color: #444;

$primary-color: blue;

$error-color: red;
$success-color: green;

@import 'helpers/reset';
@import 'helpers/mixins';
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Cabin');

@mixin background($args...) {
    -webkit-background: $args;
    -moz-background: $args;
    background: $args;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    transition: $args;
}

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

html,
body {
    height: 100%;
    @include background($background-color);
    font-family: 'Cabin', Arial, sans-serif;
    @include font-size(16px);
    color: $text-color;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

a,
a:focus {
    color: $text-color;
}
a:hover {
    color: $text-hover;
}

input:focus:invalid {
    border-bottom: 2px solid $error-color;
}

input:focus:valid {
    border-bottom: 2px solid $success-color;
}

::-webkit-input-placeholder {
    color: $text-color !important;
}

.show {
    visibility: visible;
    opacity: 1;
    @include transition(opacity 0.2s linear);
}

.hide {
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 0s 0.1s,
    opacity 0.1s linear);
}